@page
@model WebApplication1.Pages.CaseDetails.CaseModel
@{
    ViewData["Title"] = "Case Transactions";
}
<p>
    <div>
        <h2>Case Reference : @Model.SelectedCase.CaseId</h2>
        <a href="Reset">
            Reset
        </a>
    </div>

</p>
<br />       
<p>
    <div>
        <strong>Summary table</strong>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Total Payments</th>
                    <th>Unallocated Payments</th>
                    <th>Total Remissions</th>
                    <th>Amount Due</th>
                    <th>Overpayment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.SelectedCase.TotalPayments</td>
                    <td>TBC</td>
                    <td>@Model.SelectedCase.TotalRemission</td>
                    <td>@Model.SelectedCase.AmountDue</td>
                    <td>@Model.SelectedCase.OverPayment</td>
                </tr>

            </tbody>
            <table>
    </div>
</p>
<p>
    <div>
        <strong>Service Requests</strong> 
        <a href="AddServiceRequest?caseId=@Model.SelectedCase.CaseId"> Add Service Request </a>


        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Status</th>
                    <th>Net Amount</th>
                    <th>Gross Amount</th>
                    <th>Request Reference</th>
                    <th>Fees</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sr in Model.SelectedCase.ServiceRequests)
                {
                    <tr>
                        <td>@sr.Status</td>
                        <td>@sr.InvoiceAmount</td>
                        <td>@sr.InvoiceAmountGross</td>
                        <td>@sr.Reference</td>
                        
                        <td>
                            @foreach (var fee in sr.Fees)
                            {
                               <div>
                                @String.Concat(fee.Code, "[", fee.GrossAmount, ",", fee.ChargeableAmount, "]")

                                @if (fee.CanAddRemission)
                                {
                                                    <a href="AddDiscount?caseId=@Model.SelectedCase.CaseId&sr=@sr.Reference&fee=@fee.Code" 
                                                        class="add-discount-link" title="Add Discount">
                                                        <i class="fas fa-tag"></i> 
                                                    </a>
                                }
                                </div>
                            }
                        </td>
                        <td>@if (sr.CanPay)
                            {
                                       <a href="AddPayment?caseId=@Model.SelectedCase.CaseId&sr=@sr.Reference">
                                     Add Payment
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</p>
<p>
    <div>
        <strong>Payments</strong>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>SR Reference</th>
                    <th>Payment Reference</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sr in Model.SelectedCase.ServiceRequests)
                {
                    @foreach (var pay in sr.Payments)
                    {
                        <tr>
                            <td>@pay.Status</td>
                            <td>@pay.Amount</td>
                            <td>@sr.Reference</td>
                            <td>@pay.Reference</td>
                            
                     </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</p>
<p>
    <div style="clear:both">
        <strong>Apportionments</strong>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>SR Reference</th>
                    <th>Fee</th>
                    <th>Apportionment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sr in Model.SelectedCase.ServiceRequests)
                {
                    @foreach (var fee in sr.Fees)
                    {
                        <tr>
                            <td>@sr.Reference</td>
                            <td>@fee.Code</td>
                            <td>
                                @foreach (var apportionment in fee.ApportionmentList)
                                {
                                    <div>
                                        @String.Concat(apportionment.Payment.Reference, " (", apportionment.ApportionedAmount, ")")
                                    </div>
                                }
                            </td>

                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</p>
<p>
    <div style="clear:both">
        <strong>Refunds</strong>
    </div>
</p>
